doctype html
html
    head
        title= title
        //- link(rel="stylesheet" href="//ajax.aspnetcdn.com/ajax/bootstrap/3.3.2/css/bootstrap.min.css")
        link(href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous")
        link(rel="stylesheet" href="/stylesheets/style.css")
    body

        nav.navbar.navbar-dark.bg-dark.navbar.fixed-top
            div.navbar-header
                a.navbar-brand(href="/") &nbsp; &nbsp; &nbsp; Mi App de tareas por hacer
        br

    h1 #{title}
    br
    br

    //- SECCIÓN PARA AGREGAR TAREA
    div.d-flex
    form.card.d-flex.flex-row.justify-content-evenly.align-items-center(action="/agregar" method="post" class="estilo_personalizado")
        label Nueva tarea:
        input(name="name" type="textbox")

        label Categoría:
        input(name="category" type="textbox")

        button.btn.btn-warning(type="submit" class="margen" ) Agregar tarea 

    //- SECCIÓN PARA BUSCAR TAREA POR NOMBRE
    form.card.d-flex.flex-row.justify-content-evenly.align-items-center(action="/buscar" method="get" class="estilo_personalizado")
        label Nombre de tarea:
        input(name="name" type="textbox")
        button.btn.btn-primary(type="submit" class="margen") Buscar tarea

    //- SECCIÓN PARA BUSCAR TAREA POR CATEGORÍA
    form.card.d-flex.flex-row.justify-content-evenly.align-items-center(action="/buscarCategoria" method="get" class="estilo_personalizado")
        label Nombre de categoría:
        input(name="category" type="textbox")

        button.btn.btn-primary(type="submit" class="margen") Buscar categoría

    //- SECCIÓN DE BOTONERA PARA FILTRAR/MODIFICAR
    div.card.d-flex.flex-row.justify-content-evenly.align-items-center(class="estilo_personalizado")
        form(action="/" method="get")
            button.btn.btn-warning(type="submit" class="margen_10") Todas las tareas
        form(action="/realizado" method="get")
            button.btn.btn-success(type="submit" class="margen_10") Tareas completas
        form(action="/pendientes" method="get")
            button.btn.btn-dark(type="submit" class="margen_10") Tareas pendientes

    br
    br
    br

block content
//- script(src="//ajax.aspnetcdn.com/ajax/jQuery/jquery-1.11.2.min.js")
//- script(src="//ajax.aspnetcdn.com/ajax/bootstrap/3.3.2/bootstrap.min.js")
script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous")
