body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    background-color: #dce0e6;
}

a {
    color: #00b7ff;
}

.background-error {
    background-color: #262c2c;
    color: #dce0e6;
}

.estilo_personalizado {
    background-color: #7890a8;
}

.estilo_clase {
margin-top: -15px
}

.margen {
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.margen_10 {
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 10px;
}

/* Hide expandable content by default */
.errstack {
    visibility: collapse;
    font-size: 11px;
}

/* Style the button */
#toggle-btn {
    display: inline-block;
    margin-top: 12px;
    padding: 5px 11px;
    cursor: pointer;
    font-size: 12px;
    color: #00b7ff;
    margin-left: 75%;
}

/* Show hidden content when the checkbox is checked */
#showText:checked ~ .errstack {
    visibility: visible;
}

/* Style the button when the checkbox is checked */
#showText:checked + #toggle-btn {
    color: lightblue;
}
